/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 //styles.scss


@use "~bulma/bulma";
@use "~bulmaswatch/cyborg/bulmaswatch";


html {
  overflow-y: hidden;
}

.navbar {
  border: 0px
}

.nav-tabs {
  background-color: bulmaswatch.$primary;
}

.app-footer {
  background-color: bulmaswatch.$primary;
}

.app-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  .tab-content {
    flex-grow: 1;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

.aligning-label {
  color: transparent;
}

.field.is-grouped {
  gap: 10px;
}

.purchases-body {
  .td-xsm {
    width: 4em
  }

  .td-sm {
    width: 8em
  }

  .td-med {
    width: 16em
  }

  .td-lg {
    width: 20em
  }
}

.pay-histories-body {
  td {
    width: 15em
  }
}

.icon-button {
  background-color: transparent;
  border: none;
  color: rgb(200, 200, 200);;
  font-size: 16px;
}

.icon-button:hover {
  transition: 0.2s;
  color: rgb(100, 100, 100);
  cursor: pointer;
}
